header{
    background-color: #2b2e4a;
}

.navbar{
    background: none;
    border: none;
    border-bottom: 1px solid #4d4f65;
}

.navbar-default .navbar-nav>li>a{
    color: white;
}

.navbar-default .navbar-nav>li>a:hover{
    text-decoration: underline;
    color: white;
}

.jumbotron{
    padding: 115px 60px 125px; 
    background: none;
    color: white;
}

.jumbotron h1{
    margin-bottom: 45px;
}

.jumbotron p{
    margin-bottom: 75px;
}

main section:first-child{
    padding: 45px 0 125px;
}

main section:first-child div{
    margin-top: 75px;
}

.glyphicon{
    font-size: 70px;
    color: #e84545;
}

.no-padding{
    padding: 0;
}

footer{
    background-color: #2b2e4a;
    color: white;
}

footer section:first-child i{
    font-size: 20px;
}

footer section:first-child{
    padding: 70px 0 90px;
}

footer section:last-child{
    padding: 30px 0;
    background-color: #313454;
    color: #77787b;
}

footer span{
    color: white;
}

i.glyphicon-heart{
    font-size: 14px;
}